<div class="d-flex align-items-center justify-content-center bg-success rounded p-4 text-white">
  <h1 class="ms-5 me-5 ps-5 pe-5"><%= @item.name %></h1>
  <h2 class="ms-auto">   in <%= @menu.title %>/<%= @submenu.title %></h2>
</div>

<hr>
<div class="container rounded bg-success text-white p-3">
  <dl class="row">
    <dt class="col-sm-3">Edit item</dt>
    <dd class="col-sm-9">
      <%= form_with model:  @item do |form| %>
      <p>
        <%= form.text_field :title, class:"form-control" %>
        <%= form.submit "Update", class:"btn btn-secondary" %>
      </p>
    <% end %>
    </dd>

    <dt class="col-sm-3"><%= 
      link_to "Destroy", 
      item_path(@item),
      class: "btn btn-danger",
      method: :delete,
      data: { confirm: "This will also erase all submenus and menu items included in this menu.\nAre you sure ?"}
    %></dt>
  </dl>
</div>
<hr>